*{
  margin: 0;
  padding: 0;
}
.legend {
  text-align: center;
font-size: 40px;
  font-weight: bold;
  background-color: #eeeeff;
  padding-top:10px;
  padding-bottom: 10px;
  border-style: groove;
  border-width: 8px;
  border-color: aqua;
  margin-left: 410px;
  margin-right: 410px;
  margin-top: 30px;
}

.greeting-section {
text-align: center;
background-color: #C6E7F6;
font-family: "Tahoma", "Geneva", sans-serif;;
border-style: double;
}
.footer {
  background-color: #C6E7F6;
  text-align: center;;
  font-family: "merriweather sans-serif", "Geneva", sans-serif; color: navy;;
}
.introduction-section {
  text-align: center;
  background-color: #EEEEFF;
  border-style: groove;
  border-color: silver;

}
.introh2 {
  font-family: "Tahoma", "Geneva", sans-serif; color: navy;;
  margin-top: 30px;
  text-decoration: underline;
}
.introh3 {
  font-family: "merriweather sans-serif", "Geneva", sans-serif;;
  margin-bottom: 30px;
  margin-top: 30px;
}
.h2greet {
  font-family: "Tahoma", "Geneva", sans-serif; color: navy;;
  margin-top: 30px;
  margin-bottom: 30px;
}
.name {
  padding-bottom: 30px;
}

.copyright {
  padding-bottom: 3px;
  padding-top: 3px;
  font-style: italic;
}
.contactinfo address {
  font-style: normal;
}
.portfolio {
  padding-top: 25px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #cdf4ff;
  border-style: double;
  font-family: "Tahoma", "Geneva", sans-serif; color: navy;
  font-style: italic;
}
.portfolio img{
  width: 251px;
  height: 165px;
}
.porth1 {
  font-style: normal;
  padding-bottom: 10px;
  padding-top: 10px;
  border-style: groove;
  border-width: 8px;
  border-color: aqua;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 20px;
  background-color: #eeeeff;
}
.porth2 {
  padding-bottom: 20px;
}
.imglft {
  padding-right: 20px;
}
.imgrt {
  padding-left: 20px;
}
@media screen and (max-width: 400px) {
h2 {
  background-color: yellow;
}
}
